/* notifications stuff */
#re-notification {
	/* background: rgba(0, 0, 0, 0.25);
	box-shadow: 0.1em 0.1em 0.4em rgba(0, 0, 0, 0.5);
	padding: 0.75em; */
	background-color: rgba(0, 0, 0, 0.15) !important;
	border: 0.0625em solid rgba(0, 0, 0, 0.2) !important;
	box-shadow: 0 .25em .5em rgba(0, 0, 0, 0.2) !important;
	border-radius: 0.9375em !important;
	padding: 0.9375em !important;

	position: absolute;
	color: white;
	font-weight: bold;
	/* color: var(--egg-brown); */
	left: 75%;
	top: 1em;
	transform: translateX(-50%);
	display: none;
	text-align: left;
}

#re-notification img {
	width: 2em;
	height: 2em;
	margin-right: 0.75em;
}