/*
neat notes i found: 
1em = 1.375em (roughly) 
Also i'd like to say, i pretty much got chatgpt to generate all of this css (because i hate dealing with css).
so at somepoint, I will need to go back through all of this with a fine comb and work out the kinks
using `px` I know is very bad (especially for consistancy)
*/

.modmenu-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.modmenu-page-content {
	height: calc(100vh - 10em);
	width: 100%;
	border: var(--ss-common-border-width) solid var(--ss-blue5);
	background-color: var(--ss-blue6) !important;
	border-radius: .9375em;
	box-shadow: 0 .5em 1.5em rgba(0, 0, 0, 0.4);
	position: relative;
	/* padding: 1.25em; */
	overflow: hidden; /* no escaping my box please */
}
.modmenu-title {
	position: absolute;
	right: 50%;
}

.modmenu-header {
    padding: .5em;
    width: 100%;
	height: 20%;
    box-sizing: border-box;
}

.mod-screen-content {
	display: flex;
	height: 100%;
	overflow: hidden;
}

/* mod menu list */
.mod-list {
    display: flex;
	flex: 0 0 30%;
    flex-direction: column;
	max-width: 30%;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 85%;
	border-radius: .5em;
	box-shadow: inset 0 -.5em .625em -.375em rgba(0, 0, 0, 0.4);
    gap: .25em;
    height: 80%;
    padding: .5em;
}

.mod-item {
	border-radius: .625em;
	border: var(--ss-common-border-width) solid var(--ss-blue5);
	display: flex;
	padding: .3125em;
	/* transition: background 0.3s ease; */
}
.mod-item .mod-icon {
    flex-shrink: 0;
}

.mod-item:nth-child(odd) {
	background-color: var(--ss-blue3);
}

.mod-item:nth-child(even) {
	background-color: #77cbe6;
}

.mod-icon {
	width: 6em;
	height: 6em;
	margin-right: .5em;
	border-radius: .5em;
}

.mod-info .name {
    font-weight: bold;
    font-size: 1.2em;
    color: white;
}

.mod-info .author {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: .3125em;
    color: #924eff;
}

.mod-info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.mod-details {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: .5em;
    padding-bottom: 1.5em; /* this is to prevent the description from overflowing */
	max-height: 85%;
    height: 85%;
	overflow: hidden;
}

.mod-select-header {
	display: flex;
	align-items: center;
	gap: .625em;
	position: relative;
}

.mod-desc {
	font-size: 1em;
	line-height: 1.4;
	white-space: pre-line;
}

.mod-config {
	margin-bottom: 1em;
}

/* this is shared between the two */
.mod-config, .mod-desc {
	/* border: red solid; */
	border: var(--ss-common-border-width) solid var(--ss-blue5);
	background-color: var(--ss-blue2);
	border-radius: .25em;
	margin-top: .625em;
	padding: .625em;
	overflow-y: auto;
	flex: 1;
}
/* this fixes the labels being difficult to read on the config page */
.mod-config label {
	font-weight: 600;
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
}

.mod-config-button {
	height: 2.125em;
	width: 9em;
	text-align: center;
	position: absolute;
	right: 0em;
	bottom: 0em;
}

.controls label {
	display: block;
	margin: .3125em 0;
}

/* Responsive adjustments */
@media (max-width: 37.5em) {
	.modmenu-page-content {
		max-width: 95%;
		padding: .625em;
	}

	.mod-item {
		flex-direction: column;
		align-items: stretch;
	}

	.mod-icon {
		align-self: center;
		margin-bottom: .625em;
		margin-right: 0;
	}
}
